<launch>

    <arg name="launch_prefix" default=""/>

    <arg name="yolo_weights_path"          default="$(find darknet_ros)/yolo_network_config/weights"/>
    <arg name="yolo_config_path"           default="$(find darknet_ros)/yolo_network_config/cfg"/>

    <arg name="network_param_file"         default="$(find darknet_ros)/config/yolov3-tiny-2c.yaml"/>
    <rosparam command="load" ns="darknet_ros" file="$(arg network_param_file)"/>


    <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/kinect2/qhd/image_color"/>
        <param name="bb_pub" 			    value="/local/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/local/detection_image"/>
    </node>

    <node pkg="cloud_segmentation" type="cloud_segmentation" name="cloud_segmentation_node">
        <param name="input_topic_color"     value="/local/detection_image" />
        <param name="input_bounding_boxes"  value="/local/bounding_boxes" />
        <param name="sd_depth_image"        value="/kinect2/sd/image_depth" />
        <param name="sd_camerainfo"         value="/kinect2/sd/camera_info" />
        <param name="output_topic_cloud"    value="/kinect2/segmented_cloud" />
    </node>




</launch>