<launch>

    <arg name="launch_prefix" default=""/>

    <arg name="yolo_weights_path"          default="$(find darknet_ros_eb)/yolo_network_config/weights"/>
    <arg name="yolo_config_path"           default="$(find darknet_ros_eb)/yolo_network_config/cfg"/>

    <arg name="network_param_file"         default="$(find darknet_ros_eb)/config/yolov3-tiny-2c.yaml"/>
    <rosparam command="load" ns="darknet_ros" file="$(arg network_param_file)"/>

    <node pkg="darknet_ros_eb" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson1">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson1/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson1/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson1/detection_image"/>
    </node>
    <node pkg="cloud_segmentation" type="cloud_segmentation" name="cloud_segmentation_node" machine="jetson1">
        <param name="input_topic_color"     value="/jetson1/detection_image" />
        <param name="input_bounding_boxes"  value="/jetson1/bounding_boxes" />
        <param name="sd_depth_image"        value="/jetson1/sd/image_depth" />
        <param name="sd_camerainfo"         value="/jetson1/sd/camera_info" />
        <param name="output_topic_cloud"    value="/jetson1/segmented_cloud" />
    </node>

    <node pkg="darknet_ros_eb" type="darknet_ros_eb" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson2">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson2/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson2/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson2/detection_image"/>
    </node>
    <node pkg="cloud_segmentation" type="cloud_segmentation" name="cloud_segmentation_node" machine="jetson2">
        <param name="input_topic_color"     value="/jetson2/detection_image" />
        <param name="input_bounding_boxes"  value="/jetson2/bounding_boxes" />
        <param name="sd_depth_image"        value="/jetson2/sd/image_depth" />
        <param name="sd_camerainfo"         value="/jetson2/sd/camera_info" />
        <param name="output_topic_cloud"    value="/jetson2/segmented_cloud" />
    </node>

    <node pkg="darknet_ros_eb" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson3">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson3/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson3/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson3/detection_image"/>
    </node>
    <node pkg="cloud_segmentation" type="cloud_segmentation" name="cloud_segmentation_node" machine="jetson3">
        <param name="input_topic_color"     value="/jetson3/detection_image" />
        <param name="input_bounding_boxes"  value="/jetson3/bounding_boxes" />
        <param name="sd_depth_image"        value="/jetson3/sd/image_depth" />
        <param name="sd_camerainfo"         value="/jetson3/sd/camera_info" />
        <param name="output_topic_cloud"    value="/jetson3/segmented_cloud" />
    </node>

    <node pkg="darknet_ros_eb" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson4">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson4/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson4/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson4/detection_image"/>
    </node>
    <node pkg="cloud_segmentation" type="cloud_segmentation" name="cloud_segmentation_node" machine="jetson4">
        <param name="input_topic_color"     value="/jetson4/detection_image" />
        <param name="input_bounding_boxes"  value="/jetson4/bounding_boxes" />
        <param name="sd_depth_image"        value="/jetson4/sd/image_depth" />
        <param name="sd_camerainfo"         value="/jetson4/sd/camera_info" />
        <param name="output_topic_cloud"    value="/jetson4/segmented_cloud" />
    </node>

    <node pkg="darknet_ros_eb" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson5">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson5/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson5/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson5/detection_image"/>
    </node>
    <node pkg="cloud_segmentation" type="cloud_segmentation" name="cloud_segmentation_node" machine="jetson5">
        <param name="input_topic_color"     value="/jetson5/detection_image" />
        <param name="input_bounding_boxes"  value="/jetson5/bounding_boxes" />
        <param name="sd_depth_image"        value="/jetson5/sd/image_depth" />
        <param name="sd_camerainfo"         value="/jetson5/sd/camera_info" />
        <param name="output_topic_cloud"    value="/jetson5/segmented_cloud" />
    </node>

    <node pkg="darknet_ros_eb" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson6">
        <param name="weights_path"          value="$(arg yolo_weights_path)" />
        <param name="config_path"           value="$(arg yolo_config_path)" />
        <param name="image_input" 			value="/jetson6/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson6/bounding_boxes"/>
        <param name="detectedImage_pub" 	value="/jetson6/detection_image"/>
    </node>
    <node pkg="cloud_segmentation" type="cloud_segmentation" name="cloud_segmentation_node" machine="jetson6">
        <param name="input_topic_color"     value="/jetson6/detection_image" />
        <param name="input_bounding_boxes"  value="/jetson6/bounding_boxes" />
        <param name="sd_depth_image"        value="/jetson6/sd/image_depth" />
        <param name="sd_camerainfo"         value="/jetson6/sd/camera_info" />
        <param name="output_topic_cloud"    value="/jetson6/segmented_cloud" />
    </node>

</launch>
