

<launch>

    <machine name="jetson1" address="localhost" />
    <machine name="jetson2" address="jetson2.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>
    <!--<machine name="jetson2" address="jetson2.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>
    <machine name="jetson3" address="jetson3.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>
    <machine name="jetson4" address="jetson4.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>
    <machine name="jetson5" address="jetson5.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>
    <machine name="jetson6" address="jetson6.wp3.localnet" env-loader="/home/nvidia/catkin_ws/devel/env.sh" user="nvidia" password="nvidia" default="false"/>
    -->
    <!-- Jetson 1 -->

    <arg name="launch_prefix" default=""/>
    <arg name="yolo_weights_path"          default="$(find darknet_ros_eb)/yolo_network_config/weights"/>
    <arg name="yolo_config_path"           default="$(find darknet_ros_eb)/yolo_network_config/cfg"/>


    <!--<arg name="network_param_file"         default="darknet_ros_eb/config/yolov3-tiny-2c.yaml"/>
    <rosparam command="load" ns="darknet_ros" file="$(arg network_param_file)"/>
    -->

    <node pkg="darknet_ros_eb" type="darknet_ros_eb" name="jetson1_segmentor" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson1">
        <param name="weights_path"          value="/darknet_ros_eb/darknet_ros/yolo_network_config/weights" />
        <param name="config_path"           value="/darknet_ros_eb/darknet_ros/yolo_network_config/cfg" />
        <param name="image_input" 			value="/jetson1/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson1/eb/bounding_box"/>
        <param name="detectedImage_pub" 	value="/jetson1/eb/detected_image"/>
    </node>


    <!-- Jetson 2 -->
    <!--
    <node pkg="darknet_ros_eb" type="darknet_ros_eb" name="jetson2_segmentor" output="screen" launch-prefix="$(arg launch_prefix)" machine="jetson2">
        <param name="weights_path"          value="/darknet_ros_eb/darknet_ros/yolo_network_config/weights" />
        <param name="config_path"           value="/darknet_ros_eb/darknet_ros/yolo_network_config/cfg" />
        <param name="image_input" 			value="/jetson2/qhd/image_color"/>
        <param name="bb_pub" 			    value="/jetson2/eb/bounding_box"/>
        <param name="detectedImage_pub" 	value="/jetson2/eb/detected_image"/>
    </node>
    -->
    <node pkg="wp3_compressor" type="wp3_compressor_node" name="jetson1_compressor_testing_eb" machine="jetson2">
        <param name="sensor_name" value="jetson1" />
        <param name="resolution" value="0.04" />
    </node>


</launch>
